/* 1 */
body {
    background-color: #B4B4B4;
    background-image: url(../img/pink-flowers.webp);
}

/* 10 */
.wrapper {
    width: 89%;
    margin: 0 auto;
    background-color: #FFF;
    line-height: normal;
    box-shadow: 0 0.4em 0.4em rgba(0, 0, 0, 0.25);
}

/* 10 */
.wrapper__header {
    padding: 4%;
}

/* 20 */
.wrapper .any_header,
.wrapper .signature {
    font-weight: 700;
}

/* 10 */
.wrapper__content {
    padding-top: 4%;
    padding-left: 4%;
    padding-right: 4%;
}

/* 10 */
.text {
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 400;
    color: #1D1B1B;
}

/* 20 */
.wrapper .header__heading {
    color: #A11414;
    font-size: 2rem;
}

/* 11 */
.header__heading::first-letter {
    text-transform: capitalize;
}

/* 20 */
.wrapper .header__subheader {
    font-size: 1.5rem;
}

/* 11 */
.header__title,
.upper,
.menu__header {
    text-transform: uppercase;
}

/* 10 */
.header__img-wrap {
    border: 1px solid #000;
    border-radius: 2px;
    background: #FFF;
    width: 92%;
    margin: 0 auto;
    padding: 1%;
}

/* 10 */
.img__header {
    width: 100%;
}

/* 10 */
.wrapper__p1 {
    position: relative;
    padding-top: 2%;
}

/* 10 */
.wrapper__text {
    display: inline-block;
    vertical-align: middle;
}

/* 10 */
.wrapper__text_menu {
    display: flex;
    justify-content: space-between;
    gap: 1%;
}

/* 10 */
.menu {
    width: 11%;
    display: block;
    position: relative;
    border-radius: 2px 15px;
    background: #D7D7D7;
    padding-top: 2%;
    padding-left: 2%;
    min-width: 11%;
    font-family: Arial;
    color: #000;
    box-shadow: none;
}

/* 10 */
.menu__items {
    display: list-item;
    padding-top: 15%;
    text-transform: capitalize;
}

/* 20 */
.menu__item:hover {
    color: #A11414;
    font-weight: 700;
    text-decoration-line: underline;
}

/* 10 */
.menu__header {
    padding-bottom: 2%;
}

/* 10 */
.wrapper__p2 {
    padding-top: 2%;
    padding-right: 4%;
}

/* 11 */
.wrapper__p::first-letter {
    margin-left: 4%;
}

/* 10 */
.colored {
    color: #A11414;
}

/* 10 */
.linethrough {
    text-decoration: line-through;
}

/* 10 */
.wrapper__footer {
    position: relative;
    padding-bottom: 2%;
}

/* 10 */
.footer__p {
    background-color: #FFF;
    color: #403636;
    position: absolute;
    top: 5%;
    left: 24%;
}