/* 1 */
body {
    background-color: #B4B4B4;
    background-image: url(../img/pink-flowers.webp);
}

/* 10 */
.wrapper {
    width: 89%;
    margin: 0 auto;
    background-color: #FFF;
    line-height: normal;
    box-shadow: 0 0.4em 0.4em rgba(0, 0, 0, 0.25);

    font-family: Roboto;
    font-size: 1rem;
    font-weight: 400;
    color: #1D1B1B;
}

/* 10 */
.header {
    color: #A11414;
    font-size: 2rem;
}

/* 10 */
.header__heading {
    padding: 4%;
}

/* 11 */
.header__heading::first-letter,
.article__header::first-letter {
    text-transform: capitalize;
}

/* 10 */
.header__img-wrap {
    border: 1px solid #000;
    border-radius: 2px;
    background: #FFF;
    width: 92%;
    margin: 0 auto;
    padding: 1%;
}

/* 10 */
.img__header {
    width: 100%;
}

/* 10 */
.header__heading--spec {
    text-transform: uppercase;
    font-weight: 700;
}

/* 10 */
.article__header {
    font-weight: 700;
    font-size: 1.5rem;
}

/* 10 */
.article__text--uppercase,
.menu__header {
    text-transform: uppercase;
}

/* 10 */
.article {
    padding-top: 4%;
    padding-left: 4%;
    padding-right: 4%;
}

/* 10 */
.main {
    display: flex;
    justify-content: space-between;
    gap: 1%;
}

/* 10 */
.nav-wrap {
    width: 14%;
    height: fit-content;
    border-radius: 2px 15px;
    background: #d7d7d7;
    padding: 29px 26px;
    font-family: Arial, Helvetica, sans-serif;
    flex-shrink: 0;
}

/* 10 */
.nav-heading {
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 24px;
}

/* 10 */
.nav__link {
    color: #000;
    text-decoration: none;
}

/* 20*/
.nav__link:hover {
    font-weight: 700;
    color: #a11414;
    text-decoration: underline;
}

/* 10 */
.article__item--reg {
    padding-top: 2%;
    padding-right: 4%;
}

/* 10 */
.article__item--main {
    position: relative;
    padding-top: 2%;
}

/* 11 */
.article__item::first-letter {
    margin-left: 4%;
}

/* 10 */
.article__text--colored {
    color: #A11414;
}

/* 10 */
.article__text--linethrough {
    text-decoration: line-through;
}

/* 10 */
.footer {
    width: 85%;
    padding-bottom: 18px;
    padding-top: 1%;
}

/* 10 */
.footer__line {
    background: url("../img/back.gif") no-repeat 0 50%;
    background-size: 100%;
}

/* 10 */
.footer__item {
    text-align: center;
    padding: 7px 0 6px;
    color: #403636;
}

/* 10 */
.footer__item--spec {
    font-weight: 700;
}